<tr class="kv-tabform-row" >
    <td class="kv-align-center kv-align-middle" data-col-seq="0">1</td>
    <td class="skip-export kv-align-center kv-align-middle" style="width:80px;" data-col-seq="1"><a class="data-view" href="goodssku/delete" title="查看" aria-label="查看" data-toggle="modal" data-target="#view-modal" ><span  class="glyphicon glyphicon-eye-open"></span></a> <span  class="glyphicon glyphicon-trash"></span></a></td>
    <td class="skip-export kv-align-center kv-align-middle kv-row-select" style="width:50px;" data-col-seq="2"><input type="checkbox" class="kv-row-checkbox" name="selection[]"></td>
    <td class="kv-align-top" data-col-seq="3" ><div class="form-group"><input type="text"  class="form-control"><div class="help-block"></div></div></td>
    <td class="kv-align-top" data-col-seq="4">
    <div class="form-group field-goodssku-5-property1">

        <input type="text" id="goodssku-5-property1" class="form-control" name="Goodssku[5][property1]" value="款式1颜色">

        <div class="help-block"></div>
    </div>
</td><td class="kv-align-top" data-col-seq="5">
    <div class="form-group field-goodssku-5-property2">

        <input type="text" id="goodssku-5-property2" class="form-control" name="Goodssku[5][property2]" value="尺寸">

        <div class="help-block"></div>
    </div>
</td><td class="kv-align-top" data-col-seq="6">
    <div class="form-group field-goodssku-5-property3">

        <input type="text" id="goodssku-5-property3" class="form-control" name="Goodssku[5][property3]">

        <div class="help-block"></div>
    </div>
</td><td class="kv-align-top" data-col-seq="7">
    <div class="form-group field-goodssku-5-costprice">

        <input type="text" id="goodssku-5-costprice" class="form-control" name="Goodssku[5][CostPrice]" value="1.0000">

        <div class="help-block"></div>
    </div>
</td><td class="kv-align-top" data-col-seq="8">
    <div class="form-group field-goodssku-5-weight">

        <input type="text" id="goodssku-5-weight" class="form-control" name="Goodssku[5][Weight]" value="0.5">

        <div class="help-block"></div>
    </div>
</td><td class="kv-align-top" data-col-seq="9">
    <div class="form-group field-goodssku-5-retailprice">

        <input type="text" id="goodssku-5-retailprice" class="form-control" name="Goodssku[5][RetailPrice]" value="2.0000">

        <div class="help-block"></div>
    </div>





    <td class="kv-align-center kv-align-middle" style="width:50px;" data-col-seq="0">New</td>



    <td class="skip-export kv-align-center kv-align-middle kv-row-select" style="width:50px;" data-col-seq="2"><input type="checkbox" class="kv-row-checkbox" name="selection[]" value="5"></td>
    <td class="kv-align-top" data-col-seq="3">